<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.absolut-cinema.delivery</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/make</string>
    <string>-C</string>
    <string>/Users/david.fernandez/absolut-cinema</string>
    <string>-k</string>
    <string>delivery</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>WorkingDirectory</key><string>/Users/david.fernandez/absolut-cinema</string>
  <key>StandardOutPath</key><string>/Users/david.fernandez/absolut-cinema/data/logs/launchd.out</string>
  <key>StandardErrorPath</key><string>/Users/david.fernandez/absolut-cinema/data/logs/launchd.out</string>
</dict>
</plist>
